---
import Section from "./src/components/Section.astro";
---

<Section>
  <p>Minimalistic Currriculum</p>
  <p>Made with HTML5, CSS3, Javascript and Astro</p>
  <p>© 2024 Jose Miguel Mangas</p>
</Section>
<style>
  p {
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
    margin-bottom: 5px;
  }
</style>
