---
import Section from "@/components/Section.astro";
---

<Section>
  <footer>
    <p>Minimalistic Currriculum</p>
    <p>Made with HTML5, CSS3, Javascript and Astro</p>
    <p>© 2024 Jose Miguel Mangas</p>
  </footer>
</Section>
<style>
  footer {
    margin-top: 40px;
  }
  p {
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
    margin-bottom: 5px;
  }
</style>
