---
import Section from "@/components/Section.astro";
import { languages } from "@cv";
import English from "@/icons/english.astro";
import Spanish from "@/icons/spanish.astro";
---

<Section title="Languages">
  <ul>
    {
      languages.map(({ language, fluency, level }) => {
        const icon = language;
        return (
          <li>
            <article>
              <header>
                <div>
                  <span>{icon === "Spanish" ? <Spanish /> : <English />}</span>

                  <h3>{language}</h3>
                  <h4>{fluency}</h4>
                </div>
              </header>
              <footer>
                <p>{level}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 1rem;
  }
  article {
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }
</style>
